#twitter {
    width: 500px;
    height: 460px;
    margin: auto;
    flex-wrap: wrap;
    display: flex;
}
#twitcasting {
    width: 500px;
    height: 350px;
    margin: auto;
    flex-wrap: wrap;
    display: flex;
}
.tab_class {
    width: 200px;
    height: 50px;
    background-color: darkgrey;
    line-height: 50px;
    font-size: 15px;
    text-align: center;
    display: block;
    float: left;
    order: -1;
}
.tab2_class {
    width: 150px;
    height: 50px;
    background-color: darkgrey;
    line-height: 50px;
    font-size: 15px;
    text-align: center;
    display: block;
    float: left;
    order: -1;
}
 
input[name="tab_name"] {
    display: none;
}

input[name="tab_name2"] {
    display: none;
}
 
input:checked + .tab_class {
    background-color: #f7c4d4;
    color: aliceblue;
}

input:checked + .tab2_class {
    background-color: #f7c4d4;
    color: aliceblue;
}
 
.content_class {
    display: none;
    width: 100%;
}
 
input:checked + .tab_class + .content_class {
    display: block;
}
input:checked + .tab2_class + .content_class {
    display: block;
}